/OsExperiments.Debug.cspy.bat
/OsExperiments.Debug.cspy.ps1
/OsExperiments.Debug.driver.xcl
/OsExperiments.Debug.general.xcl
/OsExperiments.crun
/OsExperiments.dbgdt
/OsExperiments.dnx
/OsExperiments.reggroups
/OsExperiments.wsdt
